body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
}

body ul {
  list-style: none;
}

body span,
body p,
body a {
  text-decoration: none;
}

.section {
  margin-bottom: 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.section .section__bg-img {
  position: absolute;
  width: 100%;
}

.section .container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section .container .container__inner {
  width: 100%;
  height: 100%;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-ttl {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: lightgray;
}

/*
.section-ttl__bg--dot {
  position: absolute;
  height: 100%;
  width: 20%;
  background-image: radial-gradient($thema-blue 10%, transparent 5%);
  background-size: 10px 10px;
}
.section-ttl__text {
  position: absolute;
  letter-spacing: 1.3px;
  transform: rotate(90deg);
  margin-top: 50%;
  font-size: 5em;
}

.section-ttl--left {
  left: 0;
}
.section-ttl--right {
  right: 0;
}
*/
.section-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-main .section-main__top {
  font-size: 1.5em;
}

.section-main .section-main__heading {
  background-color: midnightblue;
  font-size: 2em;
  color: white;
}

.section-main .section-main__lead {
  font-size: 1.3em;
}

.section-main .section-main__lead--em {
  font-size: 3.3em;
}

.wrap-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap-contact .card-tel {
  padding: 0 10px;
  height: 60px;
  background-color: midnightblue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap-contact .card-tel .card-tel__num {
  display: inline-block;
  font-size: 1.3em;
}

.wrap-contact .card-tel .card-tel__num .card-tel__img {
  width: 0.8em;
  margin-right: 5px;
}

.wrap-contact .card-tel .card-tel__time {
  display: block;
  font-size: 0.6em;
}

.wrap-contact .btn-contact {
  background-color: darkcyan;
  width: 180px;
  height: 60px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.wrap-contact .btn-contact .btn-contact__text {
  display: inline-block;
}

.btn-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  width: 10em;
  border: 1px solid midnightblue;
}

.btn-detail .btn-detail__text {
  display: inline-block;
}

.btn-detail .btn-detail__arrow {
  display: inline-block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding-left: 10px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.header .nav .nav-list .nav-list__item {
  display: inline-block;
  margin: 0 3%;
}

.header .nav .nav-list .nav-list__item .nav-list__link {
  display: block;
}

.header .nav .nav-list .nav-list__item .nav-list__link .nav-list__link-eng {
  display: block;
}

.header .nav .nav-tel {
  width: 300px;
}

.header .nav .nav-tel .nav-tel__img {
  width: 16px;
}

.header .nav .nav-tel .nav-tel__num {
  font-size: 1em;
}

.header .nav .nav-tel .nav-tel__time {
  display: block;
}

.header .nav .nav-contact {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: darkcyan;
}

.header .nav .nav-contact .nav-contact__img {
  width: 20px;
}

.header .nav .nav-contact .nav-contact__text {
  display: block;
  color: white;
}

.section-top .container {
  height: 100%;
}

.section-top .container .container-top__inner {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 0 0 20%;
}

.section-top .container .container-top__inner .section-top__heading {
  background-color: white;
  color: midnightblue;
  font-size: 3em;
  line-height: 1.8;
}

.section-top .container .container-top__inner .section-top__text {
  margin: 2% 0 10% 0;
  font-size: 1.5em;
  background-color: white;
}

.section-top .wrap-contact {
  width: 40%;
}

.section-top .information {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px;
}

.section-top .information .information__heading {
  padding-right: 10px;
  border-right: 2px solid gray;
  font-size: 1.2em;
}

.section-top .information .information__date {
  margin: 0 1.5em;
}

.section-concept {
  height: 600px;
}

.section-concept .container .container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-concept .container .container__inner .section-main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-concept .container .container__inner .section-main .section-main__img {
  display: inline-block;
  width: 40%;
}

.section-concept .container .container__inner .section-main .section-main__wrap {
  margin-left: 5%;
}

.section-concept .container .container__inner .section-main .section-main__wrap .section-main__heading {
  line-height: 1.8em;
}

.section-concept .container .container__inner .section__text {
  width: 60%;
  margin: 30px;
}

.section-concept .container .container__inner .btn-detail {
  margin: 0 auto;
}

.section-features .container .container__inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-features .container .container__inner .section-main {
  width: 30%;
  padding: 5%;
}

.section-features .container .container__inner .section-main .section-main__top {
  color: midnightblue;
  margin-bottom: 5%;
  font-weight: 700;
}

.section-features .container .container__inner .section-main .section-main__heading {
  margin: 2em 0;
  padding: 5px;
}

.section-features .container .container__inner .section-main .section-main__lead {
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: 600;
  color: midnightblue;
}

.section-features .container .container__inner .main-content {
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-features .container .container__inner .main-content .main-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  width: 80%;
}

.section-features .container .container__inner .main-content .main-content__item .main-content__num {
  width: 20%;
  font-size: 3em;
  font-weight: 800;
  color: lightgrey;
}

.section-features .container .container__inner .main-content .main-content__item .main-content__heading {
  font-size: 1.3em;
  color: midnightblue;
}

.section-features .container .container__inner .main-content .main-content__item--1 {
  margin-left: 26%;
}

.section-features .container .container__inner .main-content .main-content__item--2 {
  margin-left: 13%;
}

.section-service {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-service .section-main__wrap {
  margin-left: 10%;
}

.section-service .section-main__wrap .section-main__lead {
  margin: 2% 0;
}

.section-service .cards__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-service .cards__wrap .card {
  width: 25%;
  height: 400px;
  padding: 5px;
}

.section-service .cards__wrap .card .card__body {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5%;
}

.section-service .cards__wrap .card .card__body .card__img {
  height: 60%;
}

.section-service .cards__wrap .card .card__body .card__img img {
  width: 100%;
}

.section-service .cards__wrap .card .card__body .card__ttl {
  background-color: #fff;
  position: absolute;
  left: 10%;
  top: 40%;
  padding: 5px;
  display: inline-block;
}

.section-service .cards__wrap .card .card__body .card__ttl .card__ttl-eng {
  display: block;
  font-size: 0.5em;
}

.section-service .cards__wrap .card .card__body .card__text {
  padding: 0 5%;
  margin-bottom: 10px;
}

.section-work {
  height: 650px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-work .container .container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-work .container .container__inner .section-main {
  width: 100%;
}

.section-work .container .container__inner .section-main .section-main__wrap {
  width: 100%;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-work .container .container__inner .section-main .section-main__wrap h2 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.section-work .container .container__inner .section-main .section-main__wrap .section-main__lead {
  margin: 2% 0;
}

.section-work .container .container__inner .example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-work .container .container__inner .example .example__arrow {
  margin-right: 15%;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: end;
}

.section-work .container .container__inner .example .example__arrow .bi {
  width: 30px;
}

.section-work .container .container__inner .example .example__img {
  height: 200px;
}

.section-work .container .container__inner .example .example__caption {
  margin: 2% 20%;
}

.section-work .container .container__inner .example .example__caption .example__caption-heading {
  font-size: 1.4em;
  color: midnightblue;
}

.section-work .container .container__inner .link-another-example {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-work .container .container__inner .link-another-example .link-another-example__arrow {
  display: inline-block;
}

.section-blog {
  margin: 0;
}

.section-blog .container-blog .container-blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-blog .container-blog .blog-list {
  background-color: white;
  display: inline;
  padding: 5%;
}

.section-blog .container-blog .blog-list .blog-list__item {
  padding: 0.8em;
  border-bottom: 1px solid gray;
}

.section-blog .container-blog .blog-list .blog-list__item .blog-list__date {
  display: inline-block;
  margin-right: 2em;
}

.section-blog .container-blog .blog-list .blog-list__item:last-child {
  border: none;
}

.section-contact {
  margin: 0;
}

.section-contact .container {
  width: 100%;
  height: 100%;
}

.section-contact .container .container__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-contact .container .container__inner .section-main__heading {
  font-size: 1.8em;
  color: #fff;
}

.section-contact .container .container__inner .wrap-contact {
  width: 30%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.footer .footer-address .footer-address__postcode {
  display: inline-block;
}

.footer .footer-address .footer-address__address {
  display: inline-block;
}

.footer .footer-address .footer-address__building {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */