body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 1.3px;
  word-break: break-all;
}

body ul {
  list-style: none;
}

body span,
body p,
body a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .nav .nav-list .nav-list__item {
  display: inline-block;
}

.header .nav .nav-list .nav-list__item .nav-list__link {
  display: block;
}

.header .nav .nav-list .nav-list__item .nav-list__link .nav-list__link--eng {
  display: block;
}

.section {
  position: relative;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .section__bg-img {
  position: absolute;
  width: 100%;
}

.section .section-ttl {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  height: 75vh;
}

.section .section-ttl .section-ttl__bg--dot {
  background-image: radial-gradient(midnightblue 10%, transparent 5%);
  background-size: 10px 10px;
}

.section .section-ttl .section-ttl__bg--dot .section-ttl__text {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 5em;
}

.section .container {
  position: absolute;
  width: 100%;
}

.section .container .container__inner {
  position: static;
}

.section .container .container__inner .section-main .section-main__top {
  font-size: 2em;
}

.section .container .container__inner .section-main .section-main__heading {
  font-size: 3em;
}

.section .container .container__inner .section-main .section-main__lead {
  font-size: 1.3em;
}

.card-tel {
  background-color: midnightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  color: white;
}

.card-tel .card-tel__num {
  display: inline-block;
}

.card-tel .card-tel__time {
  display: block;
}

.btn-contact {
  background-color: darkcyan;
  width: 10em;
  height: 3em;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.btn-contact .btn-contact__text {
  display: inline-block;
}

.btn-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  width: 10em;
  border: 1px solid midnightblue;
}

.btn-detail .btn-detail__text {
  display: inline-block;
}

.btn-detail .btn-detail__arrow {
  display: inline-block;
}

.section--top .section-top__heading {
  left: 10%;
  font-size: 3rem;
  color: midnightblue;
  background-color: white;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.container__inner--blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-list {
  background-color: white;
  display: inline;
  padding: 5%;
}
/*# sourceMappingURL=style.css.map */