//--common settings--
$thema-blue: midnightblue;
$thema-green: darkcyan;
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
  ul {
    list-style: none;
  }
  span,
  p,
  a {
    text-decoration: none;
  }
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
//--COMPONENTS--
.section {
  margin-bottom: 5%;
  position: relative;
  display: flex;
  width: 100%;
  .section__bg-img {
    position: absolute;
    width: 100%;
  }
  .container {
    position: absolute;
    width: 100%;
    height: 100%;
    .container__inner {
      width: 100%;
      height: 100%;
      position: static;
      display: flex;
      align-items: flex-start;
      width: auto;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}

.section-ttl {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  color: lightgray;
}
/*
.section-ttl__bg--dot {
  position: absolute;
  height: 100%;
  width: 20%;
  background-image: radial-gradient($thema-blue 10%, transparent 5%);
  background-size: 10px 10px;
}
.section-ttl__text {
  position: absolute;
  letter-spacing: 1.3px;
  transform: rotate(90deg);
  margin-top: 50%;
  font-size: 5em;
}

.section-ttl--left {
  left: 0;
}
.section-ttl--right {
  right: 0;
}
*/
.section-main {
  width: 100%;
  display: flex;
  align-items: center;
  .section-main__top {
    font-size: 1.5em;
  }
  .section-main__heading {
    background-color: $thema-blue;
    font-size: 2em;
    color: white;
  }
  .section-main__lead {
    font-size: 1.3em;
  }
  .section-main__lead--em {
    font-size: 3.3em;
  }
}
.wrap-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .card-tel {
    padding: 0 10px;
    height: 60px;
    background-color: $thema-blue;
    color: white;
    @include flexCenter();
    flex-direction: column;
    .card-tel__num {
      .card-tel__img {
        width: 0.8em;
        margin-right: 5px;
      }
      display: inline-block;
      font-size: 1.3em;
    }
    .card-tel__time {
      display: block;
      font-size: 0.6em;
    }
  }
  .btn-contact {
    background-color: $thema-green;
    width: 180px;
    height: 60px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    .btn-contact__text {
      display: inline-block;
    }
  }
}
.btn-detail {
  @include flexCenter();
  height: 2em;
  width: 10em;
  border: 1px solid $thema-blue;
  .btn-detail__text {
    display: inline-block;
  }
  .btn-detail__arrow {
    display: inline-block;
  }
}
//--HEADER--
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-left: 10px;
  .nav {
    @include flexCenter();
    height: 100%;
    .nav-list {
      display: flex;
      flex-direction: row;
      width: 100%;
      .nav-list__item {
        display: inline-block;
        margin: 0 3%;
        .nav-list__link {
          display: block;
          .nav-list__link-eng {
            display: block;
          }
        }
      }
    }
    .nav-tel {
      width: 300px;
      .nav-tel__img {
        width: 16px;
      }
      .nav-tel__num {
        font-size: 1em;
      }
      .nav-tel__time {
        display: block;
      }
    }
    .nav-contact {
      width: 200px;
      height: 100%;
      @include flexCenter();
      flex-direction: column;
      .nav-contact__img {
        width: 20px;
      }
      background-color: $thema-green;
      .nav-contact__text {
        display: block;
        color: white;
      }
    }
  }
}
//--TOP--
.section-top {
  .container {
    height: 100%;
    .container-top__inner {
      height: 100%;
      flex-direction: column;
      padding: 10% 0 0 20%;
      .section-top__heading {
        background-color: white;
        color: $thema-blue;
        font-size: 3em;
        line-height: 1.8;
      }
      .section-top__text {
        margin: 2% 0 10% 0;
        font-size: 1.5em;
        background-color: white;
      }
    }
  }
  .wrap-contact {
    width: 40%;
  }
  .information {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%;
    display: flex;
    background-color: white;
    padding: 10px;
    .information__heading {
      padding-right: 10px;
      border-right: 2px solid gray;
      font-size: 1.2em;
    }
    .information__date {
      margin: 0 1.5em;
    }
  }
}
//--CONCEPT--
.section-concept {
  height: 600px;
  .container {
    .container__inner {
      @include flexCenter();
      .section-main {
        justify-content: center;
        .section-main__img {
          display: inline-block;
          width: 40%;
        }
        .section-main__wrap {
          margin-left: 5%;
          .section-main__heading {
            line-height: 1.8em;
          }
        }
      }
      .section__text {
        width: 60%;
        margin: 30px;
      }
      .btn-detail {
        margin: 0 auto;
      }
    }
  }
}
//--FEATURES--
.section-features {
  .container {
    .container__inner {
      flex-direction: row;
      .section-main {
        width: 30%;
        padding: 5%;
        .section-main__top {
          color: $thema-blue;
          margin-bottom: 5%;
          font-weight: 700;
        }
        .section-main__heading {
          margin: 2em 0;
          padding: 5px;
        }
        .section-main__lead {
          margin-top: 2em;
          font-size: 1.2em;
          font-weight: 600;
          color: $thema-blue;
        }
      }
      .main-content {
        width: 50%;
        height: 100%;
        justify-content: center;
        .main-content__item {
          @include flexCenter();
          height: 30%;
          width: 80%;
          .main-content__num {
            width: 20%;
            font-size: 3em;
            font-weight: 800;
            color: lightgrey;
          }
          .main-content__heading {
            font-size: 1.3em;
            color: $thema-blue;
          }
        }
        .main-content__item--1 {
          margin-left: 26%;
        }
        .main-content__item--2 {
          margin-left: 13%;
        }
      }
    }
  }
}
//--SERVICE--
.section-service {
  flex-direction: column;
  .section-main__wrap {
    margin-left: 10%;
    .section-main__lead {
      margin: 2% 0;
    }
  }
  .cards__wrap {
    @include flexCenter();
    .card {
      width: 25%;
      height: 400px;
      padding: 5px;
      .card__body {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 5%;
        .card__img {
          height: 60%;
          img {
            width: 100%;
          }
        }
        .card__ttl {
          background-color: #fff;
          position: absolute;
          left: 10%;
          top: 40%;
          padding: 5px;
          display: inline-block;
          .card__ttl-eng {
            display: block;
            font-size: 0.5em;
          }
        }
        .card__text {
          padding: 0 5%;
          margin-bottom: 10px;
        }
      }
    }
  }
}
//--WORK--
.section-work {
  height: 650px;
  flex-direction: column;
  .container {
    .container__inner {
      @include flexCenter();
      .section-main {
        width: 100%;
        .section-main__wrap {
          width: 100%;
          padding: 0 10%;
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            align-self: end;
          }
          .section-main__lead{
            margin:2% 0;
          }
        }
      }

      .example {
        @include flexCenter();
        flex-direction: column;
        .example__arrow{
          margin-right:15%;
          width:75px;
          display: flex;
          justify-content: space-between;
          align-self: end;
          .bi{
            width:30px;
          }
        }
        .example__img {
          height: 200px;
        }
        .example__caption {
          margin: 2% 20%;
          .example__caption-heading {
            font-size: 1.4em;
            color: $thema-blue;
          }
        }
      }
      .link-another-example {
        margin-top: 2%;
        display: flex;
        .link-another-example__arrow {
          display: inline-block;
        }
      }
    }
  }
}
//--BLOG--
.section-blog {
  margin: 0;
  .container-blog {
    .container-blog__inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .blog-list {
      background-color: white;
      display: inline;
      padding: 5%;
      .blog-list__item {
        padding: 0.8em;
        border-bottom: 1px solid gray;
        .blog-list__date {
          display: inline-block;
          margin-right: 2em;
        }
      }
      .blog-list__item:last-child {
        border: none;
      }
    }
  }
}
//--CONTACT--
.section-contact {
  margin: 0;
  .container {
    width: 100%;
    height: 100%;
    .container__inner {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      .section-main__heading {
        font-size: 1.8em;
        color: #fff;
      }
      .wrap-contact {
        width: 30%;
      }
    }
  }
}
//--FOOTER--
.footer {
  @include flexCenter();
  flex-direction: column;
  padding: 10px;
  .footer-address {
    .footer-address__postcode {
      display: inline-block;
    }
    .footer-address__address {
      display: inline-block;
    }
    .footer-address__building {
      display: inline-block;
    }
  }
}
